.Table {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #000000;
  background-color: #4a4a4a;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  --table-header-font-size: 18px;
  --table-cell-font-size: 16px;
}
.Table td .Table {
  border-width: 0;
}

.Table td,
.Table th {
  padding: 8px 8px;
}
.Table tbody td {
  font-size: var(--table-cell-font-size);
  color: #fff;
}
.Table tr:nth-child(even) {
  background: #656565;
}
.Table thead {
  background: #000000;
  border-bottom: 3px solid #000000;
}
.Table thead th {
  font-size: var(--table-header-font-size);
  font-weight: normal;
  color: #fff;
  text-align: left;
}
.Table tfoot {
  font-size: 12px;
  font-weight: normal;
  color: #fff;
  background: #000000;
  border-top: 1px solid #4a4a4a;
}
.Table tfoot td {
  font-size: var(--table-cell-font-size);
}

.Table th,
.Table td {
  border: 1px dashed #999;
}

.Table td.Table__status_cell,
.Table th.Table__status_cell {
  min-width: 100px;
  text-align: left;
}
